.item-box {
  border-top: 1px solid #ffffff1a;
}
.pDesc {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 100;
}
.title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
}
.courseItem {
  font-size: 13px;
  font-weight: 100;
  /* margin-left: auto; */
}
.item-box {
  border-top: 1px solid #ffffff1a;
}
#teachings {
  overflow-x: scroll;
}
#teachings div {
  min-width: 100px;
}
.courseBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.courseHeadings {
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
}
