{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{full_name|lower}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" id="outer_css" href="{% static "css/home.css" %}" />
    <!-- <script type="module" src="{% static 'js/threejs.js' %}"></script> -->
  </head>
  <body>
      <div class="topbar" >
        <!-- <div style="width: 100%">{%block toptitle%}{%endblock%}</div> -->
         <label class="switch">
    <input type="checkbox" id="checkbox" onclick="toggleMode()">
    <span class="slider"></span>
</label>
        <div class="options" >
          <a class="btn" href="{% url 'home' %}">about me</a>
          <a class="btn" href="{% url 'home_repos' %}">repositories</a>
          <a class="btn" href="{% url 'home_publications' %}">publications</a>
          <a class="btn" href="{% url 'home_resume' %}">resume</a>
          <a class="btn" href="{% url 'home_teachings' %}">teachings</a>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
  <script>
    
    const Lightmode = localStorage.getItem("mode");
    if (Lightmode == "light" || Lightmode == null) {
      document.getElementById("checkbox").checked = true;
    }
  </script>
</html>
