{% extends 'base.html' %} {% block title %} {{full_name}} {%endblock title%}
<!-- prettier-ignore -->
{%load static %} {% block content %}
<style>
  body {
    overflow-y: hidden;
  }
</style>
<iframe
  src="/static/{{info.cv}}"
  style="margin-top: 60px"
  frameborder="0"
  width="100%"
  height="100%"
></iframe>
<script>
  const mode = localStorage.getItem("mode");
  if (mode == "dark") {
    switchFromLight();
  }

  function toggleMode() {
    const mode = localStorage.getItem("mode");
    if (mode === "dark") {
      localStorage.setItem("mode", "light");
      switchFromDark();
    } else {
      localStorage.setItem("mode", "dark");
      switchFromLight();
    }
  }
  function switchFromLight() {
    var outer = document.getElementById("outer_css");
    var inner = document.getElementById("inner_css");
    var href = outer.href.split("/");
    var file_name = href.pop();
    href.push("darkmode");
    href.push(file_name);
    href = href.join("/");
    outer.href = href;
    console.log(outer);
    href = inner.href.split("/");
    file_name = href.pop();
    href.push("darkmode");
    href.push(file_name);
    href = href.join("/");
    inner.href = href;
    console.log(inner);
  }
  function switchFromDark() {
    var outer = document.getElementById("outer_css");
    var inner = document.getElementById("inner_css");
    var href = outer.href.split("/");
    var file_name = href.pop();
    href.pop();
    href.push(file_name);
    href = href.join("/");
    outer.href = href;
    console.log(outer);
    href = inner.href.split("/");
    file_name = href.pop();
    href.pop();
    href.push(file_name);
    href = href.join("/");
    inner.href = href;
    console.log(inner);
  }
</script>
{% endblock %}
