{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{userFullName|lower}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" id="outer_css" href="{% static 'css/admin.css' %}" />
  </head>
  <body id="about">
    <div class="topbar">
      <label class="switch">
        <input type="checkbox" id="checkbox" onclick="toggleMode()" />
        <span class="slider"></span>
      </label>
      <div class="options">
        <a class="btn" href="{% url 'admin_about' %}">about me</a>
        <a class="btn" href="{% url 'admin_repos' %}">repositories</a>
        {% if showNews is True %}
        <a class="btn" href="{% url 'admin_news' %}">news</a>
        {% endif %}
        <a class="btn" href="{% url 'admin_publications' %}">publication</a>
        <a class="btn" href="{% url 'admin_resume' %}">resume</a>
        <a class="btn" href="{% url 'admin_teachings' %}">teachings</a>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
  <script>
    const Lightmode = localStorage.getItem("mode");
    if (Lightmode == "light" || Lightmode == null) {
      document.getElementById("checkbox").checked = true;
    }
  </script>
</html>
