{% extends 'admin_base.html' %} {% block title %} edit resume {%endblock title%}
{%load static %} {% block content %}
<link
  rel="stylesheet"
  id="inner_css"
  href="{% static 'css/admin_resume.css' %}"
/>
<div style="margin-top: 100px; min-width: 90%">
  {% if info.cv %}
  <iframe
    src="/static/{{info.cv}}"
    width="100%"
    height="565px"
    frameborder="0"
  ></iframe>
  {% endif %}
  <form
    action="{% url 'admin_resume' %}"
    method="post"
    enctype="multipart/form-data"
    onsubmit="replaceList('hobbies')"
  >
    {% csrf_token %}
    <section class="generalInfo" style="width: 100%; padding: 0">
      <div style="margin: 10px">
        <h2 class="heading">Upload CV</h2>
        <table class="generalInfoTable">
          <tr>
            <td>CV(PDF):</td>
            <td>
              <input
                type="file"
                style="border: none"
                accept="application/pdf,application/vnd.ms-excel"
                name="cv"
              />
            </td>
          </tr>
        </table>
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button
            class="okBtn"
            type="submit"
            style="font-size: 12px; font-weight: 100"
          >
            submit
          </button>
        </div>
      </div>
    </section>
  </form>
</div>
<script>
  const mode = localStorage.getItem("mode");
  if (mode == "dark") {
    switchFromLight();
  }

  function toggleMode() {
    const mode = localStorage.getItem("mode");
    if (mode === "dark") {
      localStorage.setItem("mode", "light");
      switchFromDark();
    } else {
      localStorage.setItem("mode", "dark");
      switchFromLight();
    }
  }
  function switchFromLight() {
    var outer = document.getElementById("outer_css");
    var inner = document.getElementById("inner_css");
    var href = outer.href.split("/");
    var file_name = href.pop();
    href.push("darkmode");
    href.push(file_name);
    href = href.join("/");
    outer.href = href;
    console.log(outer);
    href = inner.href.split("/");
    file_name = href.pop();
    href.push("darkmode");
    href.push(file_name);
    href = href.join("/");
    inner.href = href;
    console.log(inner);
  }
  function switchFromDark() {
    var outer = document.getElementById("outer_css");
    var inner = document.getElementById("inner_css");
    var href = outer.href.split("/");
    var file_name = href.pop();
    href.pop();
    href.push(file_name);
    href = href.join("/");
    outer.href = href;
    console.log(outer);
    href = inner.href.split("/");
    file_name = href.pop();
    href.pop();
    href.push(file_name);
    href = href.join("/");
    inner.href = href;
    console.log(inner);
  }
  var experiences = "{{experience_ids}}".split(",");
  experiences.forEach((id) => {
    if (document.getElementById(id + "-inject") == null) return;
    document.getElementById(id + "-inject").innerHTML = decodeHtml(
      document.getElementById(id + "-inject").innerHTML
    );
  });
  hobbies.value = hobbies.value.replaceAll("</li><li>", "\n");
  function replaceList(id) {
    document.getElementById(id).value = document
      .getElementById(id)
      .value.replace(/\n/g, "</li><li>");
  }
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }
  function onAwardEditClick(id, name, to, from, place, location, description) {
    document.getElementById(id).innerHTML = `
    
      <div class="degreeYear">
        <h3 class="title">
          <b><input type="text" 
            value="${name}"
            id="${id}-edit-title" placeholder="title" /></b>
        </h3>
        <!-- prettier-ignore -->
        <span class="dateDiff"
          ><b>
            <input id="${id}-edit-from"
            value="${from}"
            type="number" placeholder="from">
            <input  id="${id}-edit-to"
            value="${to}"
            type="number" placeholder="to" hidden></b
          ></span
        >
      </div>
      <div class="degreeYear">
        <p class="expPlace">
          <input type="text"
          value="${place}"
          id="${id}-edit-place" placeholder="place" hidden />
        </p>
        <div style="display: flex; align-items: center; gap: 5px">
          <input type="text"
          value="${location}"
          id="${id}-edit-location" placeholder="location" hidden />
        </div>
      </div>
      <textarea
        id="${id}-edit-description"
        style="width: 100%; margin-bottom: 20px" hidden
        rows="5"
      >${description}</textarea>
      <div style="width: 100%; display: flex; justify-content: flex-end">
        <button
          class="okBtn"
          style="font-size: 12px; font-weight: 100;background-color:green;color:white"
          onclick="editExperience('${id}-edit','${id}')"
        >
          ok
        </button>
    </div>
    `;
  }
</script>
{% endblock %}
