{% extends 'admin_base.html' %}asdasdaasasddads {% block title %} edit repos
{%endblock title%} {%load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/admin_teachings.css' %}" />
<form action="{% url 'admin_teachings' %}" method="post">
  <div class="container">
    <div class="item-box">
      <div class="heading" style="margin-top: 0; margin-bottom: 10px">
        Add or remove teaching courses:
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          border: 1px solid rgba(255, 255, 255, 0.144);
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        "
      >
        <div id="teachings" style="width: 100%">
          <div
            style="
              width: 100%;
              height: fit-content;
              padding: 20px 0;
              border-bottom: 1px solid rgba(255, 255, 255, 0.288);
              display: flex;
              justify-content: center;
            "
          >
            <div class="title" style="width: 10%">year</div>
            <div class="title" style="width: 20%">course name</div>
            <div class="title" style="width: 20%">institution</div>
            <div class="title" style="width: 20%">role</div>
            <div class="title" style="width: 16%">students level</div>
            <div class="title" style="width: 10%">hours</div>
          </div>
          {% for course in courses %}
          <div
            class="courseBox"
            style="
              width: 100%;
              height: fit-content;
              padding: 15px 0;
              display: flex;
              justify-content: center;
            "
            id="{{course.id}}-course"
            onclick="toggle_select('{{course.id}}')"
          >
            <div class="courseItem" style="width: 10%" id="{{course.id}}-year">
              {{course.course_year}}
            </div>
            <div class="courseItem" style="width: 20%" id="{{course.id}}-name">
              {{course.course_name}}
            </div>
            <div
              class="courseItem"
              style="width: 20%"
              id="{{course.id}}-instit"
            >
              {{course.institution_name}}
            </div>
            <div class="courseItem" style="width: 20%" id="{{course.id}}-role">
              {{course.role}}
            </div>
            <div class="courseItem" style="width: 16%" id="{{course.id}}-level">
              {{course.students_level}}
            </div>
            <div class="courseItem" style="width: 10%" id="{{course.id}}-hour">
              {{course.hours}}
            </div>
          </div>
          {% endfor %} {% csrf_token %}
          <div
            style="
              width: 100%;
              height: fit-content;
              padding: 15px 0;
              display: flex;
              justify-content: center;
              gap: 5px;
            "
          >
            <input
              placeholder="year"
              type="number"
              class="courseItem"
              style="width: 10%"
              name="course_year"
            />
            <input
              placeholder="course name"
              class="courseItem"
              style="width: 20%"
              name="course_name"
            />
            <input
              placeholder="institution"
              class="courseItem"
              style="width: 20%"
              name="institution_name"
            />
            <input
              placeholder="role"
              class="courseItem"
              style="width: 20%"
              name="role"
            />
            <input
              placeholder="students level"
              class="courseItem"
              style="width: 16%"
              name="students_level"
            />
            <input
              placeholder="hours"
              class="courseItem"
              style="width: 10%"
              type="number"
              name="hours"
            />
          </div>
          <button class="addBtn" type="submit">+&ensp;add</button>
        </div>
      </div>
    </div>
    <div
      class="paralell"
      id="optioncontainer"
      style="width: fit-content; margin-top: 20px; gap: 10px"
      hidden
    >
      <div id="courseOptions"></div>
      <button
        class="okBtn"
        type="button"
        style="
          background-color: rgb(121, 109, 3);
          font-size: 12px;
          color: white;
        "
        onclick="edit()"
      >
        edit
      </button>
      <button
        class="okBtn"
        type="button"
        style="background-color: rgb(129, 5, 5); font-size: 12px; color: white"
        onclick="deleteAll()"
      >
        delete
      </button>
    </div>
  </div>
</form>
<div
  style="
    display: flex;
    width: 85%;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  "
>
  <button
    class="okBtn"
    onclick="toggle(description)"
    style="font-size: 12px; font-weight: 100; margin: 2.5px"
  >
    add/edit page description
  </button>
</div>
<div id="description" hidden style="margin-bottom: 20px; width: 96%">
  <div
    style="
      display: flex;
      width: 96%;
      justify-content: center;
      margin-bottom: 20px;
      align-items: center;
      margin-top: 20px;
    "
  >
    <textarea
      name="page_description"
      rows="12"
      placeholder="write description here"
      cols="40"
      style="padding: 10px"
      class="summary"
      id="description_text"
      width="85%"
    ></textarea>
  </div>
  <div style="width: 96%; display: flex; justify-content: flex-end">
    <button
      class="okBtn"
      style="font-size: 12px; font-weight: 100"
      onclick="addDesc()"
    >
      submit
    </button>
  </div>
</div>
<script>
  var decoded = decodeHtml("{{description}}");
  var selectedCourse = [];
  console.log(decoded);
  document.getElementById("description_text").innerHTML = decoded.replace(
    /<br>/g,
    "\n"
  );
  function add_to_selected(id) {
    selectedCourse.push(id);
    document.getElementById(`${id}-course`).style.backgroundColor =
      "rgba(255, 255, 255, 0.2)";
  }
  function edit() {
    if (selectedCourse.length > 0) {
      var course = selectedCourse[0];
      var name = document.getElementById(`${course}-name`).textContent.trim();
      var year = parseInt(
        document
          .getElementById(`${course}-year`)
          .textContent.replace(/\s|\n/g, "")
      );
      var instit = document
        .getElementById(`${course}-instit`)
        .textContent.trim();
      var role = document.getElementById(`${course}-role`).textContent.trim();
      var level = document.getElementById(`${course}-level`).textContent.trim();
      var hour = parseInt(
        document
          .getElementById(`${course}-hour`)
          .textContent.replace(/\s|\n/g, "")
      );

      document
        .getElementById(`${selectedCourse[0]}-course`)
        .removeAttribute("onclick");
      document.getElementById(`${selectedCourse[0]}-course`).style.gap = "5px";
      document.getElementById(
        `${selectedCourse[0]}-course`
      ).style.backgroundColor = "inherit";
      document.getElementById(`${selectedCourse[0]}-course`).innerHTML = `
            <input
              placeholder="year"
              type="number"
              class="courseItem"
              style="width: 10%"
              value="${year}"
              id="edit_course_year"
            />
            <input
              placeholder="course name"
              class="courseItem"
              style="width: 20%"
              value="${name}"
              id="edit_course_name"
            />
            <input
              placeholder="institution"
              class="courseItem"
              style="width: 20%"
              value="${instit}"
              id="edit_institution_name"
            />
            <input
              placeholder="role"
              class="courseItem"
              style="width: 20%"
              value="${role}"
              id="edit_role"
            />
            <input
              placeholder="students level"
              class="courseItem"
              style="width: 16%"
              value="${level}"
              id="edit_students_level"
            />
            <input
              placeholder="hours"
              class="courseItem"
              style="width: 10%"
              value="${hour}"
              type="number"
              id="edit_hours"
            />
            <button
              class="okBtn"
              type="button"
              style="background-color: rgb(121, 109, 3); font-size: 12px; color: white;margin-right: 5px"
              onclick="updateCourse('${selectedCourse[0]}')"
            >update</button>
            `;
    }
  }
  function updateCourse(id) {
    fetch("{% url 'edit_course' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({
        course_id: id,
        course_year: document.getElementById("edit_course_year").value,
        course_name: document.getElementById("edit_course_name").value,
        institution_name: document.getElementById("edit_institution_name")
          .value,
        role: document.getElementById("edit_role").value,
        students_level: document.getElementById("edit_students_level").value,
        hours: document.getElementById("edit_hours").value,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status == 200) {
          location.reload();
        }
      });
  }
  function toggle_select(id) {
    if (selectedCourse.includes(id)) {
      selectedCourse = selectedCourse.filter((course) => course != id);
      document.getElementById(`${id}-course`).style.backgroundColor = "inherit";
    } else {
      add_to_selected(id);
    }
    if (selectedCourse.length > 0) {
      optioncontainer.hidden = false;
      document.getElementById(
        "courseOptions"
      ).innerHTML = `${selectedCourse.length} selected`;
    } else {
      optioncontainer.hidden = true;
      document.getElementById("courseOptions").innerHTML = "";
    }
  }
  const toggle = (element) => {
    if (element.hidden) {
      show(element);
    } else {
      hide(element);
    }
  };
  function deleteAll() {
    selectedCourse.forEach((course) => {
      deleteCourse(course);
    });
  }
  const deleteCourse = (courseId) => {
    fetch("{% url 'delete_course' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({ course_id: courseId }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status == 200) {
          location.reload();
        }
      });
  };
  const getDesc = () => {
    return document
      .getElementById("description_text")
      .value.replace(/(?:\r\n|\r|\n)/g, "<br>");
  };
  const addDesc = () => {
    fetch("{% url 'add_page_description' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{csrf_token}}",
      },
      body: JSON.stringify({
        page_description: getDesc(),
        page_name: "teachings",
      }),
    }).then((response) => {
      response.json().then((data) => {
        console.log(data);
        if (data.status == 200) {
          window.location.href = "{% url 'admin_teachings' %}";
        }
      });
    });
  };
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }
  const hide = (element) => {
    element.hidden = true;
  };
  const show = (element) => {
    element.hidden = false;
  };
</script>
{% endblock %}
