.title {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 100;
}
.courseItem {
  font-size: 13px;
  font-weight: 100;
  /* margin-left: auto; */
}
.addBtn {
  width: 100%;
  background-color: rgb(6, 134, 49);
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}
.addBtn:hover {
  background-color: rgb(2, 82, 28);
}
input.courseItem {
  padding: 5px 0;
  border: 1px solid #e0e0e031;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.courseBox:hover {
  cursor: pointer;
}
#courseOptions {
  font-size: 12px;
}
.okBtn {
  /* margin-top: 10px; */
  font-size: 17px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  padding: 5px 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}
.teachings-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.teachings-heading {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
  display: flex;
  justify-content: center;
}
