/* base.html styles */
@keyframes slideInLeftFourth {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeftThird {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(2%);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeftSecond {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(2%);
  }

  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeftFirst {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
*,
html {
  scroll-behavior: smooth !important;
  transition: background-color 0.3s ease;
}
html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100%;
  background-color: #141414;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: rgba(80, 80, 80, 0.15);
  --burger-color: #ffffff;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 2.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: 0.3s;
  --burger-transition: all 0.1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: 0.95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #525151;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, 0.2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #141414;
  --nav-font-family: Menlo, Roboto Mono, monospace;
  --nav-default-scale: 0.8;
  --nav-active-scale: 1;
  --nav-position-left: unset;
  --nav-position-right: 0;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 12px;
  --nav-button-hover-bg: #6495ed;
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative;
}

.popup input {
  display: none;
}

.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--burger-bg);
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}

.burger span {
  height: var(--burger-line-height);
  width: var(--burger-line-width);
  background: var(--burger-color);
  border-radius: var(--burger-line-border-radius);
  position: absolute;
  transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
  top: var(--burger-offset);
}

.burger span:nth-child(2) {
  bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.popup-window {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(
    var(--burger-diameter) + var(--burger-enable-outline-width) +
      var(--burger-enable-outline-offset)
  );
  left: var(--nav-position-left);
  right: var(--nav-position-right);
  transition: var(--burger-transition);
}

.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-window ul a {
  outline: none;
  width: inherit;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
  color: cornflowerblue;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
  color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
  color: red;
}

.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid
    var(--underline-border-color);
}

/* actions */

.popup-window ul a:hover,
.popup-window ul a:focus-visible,
.popup-window ul a:hover svg,
.popup-window ul a:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked + .burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked + .burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked + .burger span:nth-child(3) {
  transform: translateX(
    calc(var(--burger-diameter) * -1 - var(--burger-line-width))
  );
}

.popup input:checked ~ nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}
.menu {
  margin-right: 20px;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.topbar {
  display: flex;
  color: white;
  width: fit-content;
  min-width: 100vw;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.61));
  height: 60px;
  z-index: 1;
  /* border-bottom: 1px solid #ffffff; */
  background-color: #1d1c1c;
}

.options {
  margin-left: auto;
  display: flex;
  min-width: fit-content;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.btn {
  font-size: 14px;
  background: transparent;
  border: none;
  z-index: 1;
  text-align: center;
  padding: 0.7em 15px;
  color: #ffedd3;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #cecece;
  transition: 0.2s ease;
}
.btn:hover {
  color: #000000;
  transition-delay: 0.2s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #cecece;
  transition: 0.2s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: aliceblue;
}
.black {
  color: #000000;
  transition: all 0.5s ease;
}
.blackbg {
  background-color: #000000;
  transition: all 0.5s ease;
}
.white {
  color: #ffffff;
  transition: all 0.5s ease;
}
.blackbg {
  background-color: #e4e4e4;
  transition: all 0.5s ease;
}

/* home.html styles */
.container {
  margin-top: 15vh;
  width: 93vw;
  color: white;
  user-select: none;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  gap: 30px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 70%;
}
.name {
  font-size: 45px;
  margin-bottom: 10px;
  color: rgb(156, 156, 156);
  text-transform: uppercase;
}
.first_name {
  color: white;
}
.pic-container {
  width: 100%;
  margin-bottom: 1em;
}
.profile-pic {
  aspect-ratio: 0.8;
  width: 100%;
  max-width: 250px;
  border: #000000 3px solid;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.61));
  position: relative;
}
/* }
.pic-container::before {
  content: "";
  position: absolute;
  width: 175px;
  height: 175px;
  z-index: 0;
  border-radius: 6px;
  transform: rotate(45deg);
  background-color: hsl(257, 55%, 33%);
}
.pic-container::after {
  content: "";
  position: absolute;
  width: 175px;
  height: 175px;
  z-index: -1;
  border-radius: 6px;
  transform: rotate(90deg);
  background-color: hsl(133, 55%, 33%);
} */

.links {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
}
.link-image {
  cursor: pointer;
  aspect-ratio: 1;
  width: 25px;
  filter: grayscale(100%);
  transition: all 0.2s ease;
}
.link-image:hover {
  filter: grayscale(0%) drop-shadow(0px 1px 20px rgba(255, 255, 255, 0.048));
  transform: scale(1.1);
}
.git-svg:hover {
  fill: #402683;
}
.description {
  justify-self: end;
  font-size: 12px;
  text-align: justify;
}
.qualification {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.uni-btn {
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.uni-btn:focus,
.uni-btn:hover {
  color: #ffffff3f;
}

.uni-btn:focus:after,
.uni-btn:hover:after {
  width: 100%;
  left: 0%;
}

.uni-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffffff3f;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.summary {
  margin-top: 30px;
  width: 100%;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
}
.summary p {
  width: 98.5%;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
  margin: 0px;
}
.item-box {
  margin-top: 30px;
  border-top: 1px solid #ffffff3f;
  width: 100%;
}
.heading {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: uppercase;
}

#repos {
  display: flex;
  /* gap: 30px; */
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}
#publications {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 95%;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}
.ppAnchor {
  height: fit-content;
  margin: 15px;
}
[hidden] {
  display: none !important;
}
.repo-logo {
  border-radius: 5px;
  transition: all 0.2s ease;
  overflow: hidden;
  margin-bottom: 0;
  height: fit-content;
  max-width: 380px;
  cursor: pointer;
  /* margin: 10px; */
}
.repo-logo:hover {
  transform: scale(1.01);
}

.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, 0.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
.pCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: white;
  /* min-width: fit-content; */
  box-shadow: 0 0 10px #000;
  width: 100%;
  background-color: #141414;
  padding-right: 10px;
  font-size: 11px;
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
  padding: 5px;
}
.pCardLayout {
  border-radius: 5px;
  gap: 10px;
  display: flex;
  align-items: center;
  min-width: min-content;
  width: inherit;
}
.pImageContainer {
  padding: 5px;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.pImage {
  border-radius: 5px;
  width: 120px;
  height: 120px;
}
.pInfo {
  margin-top: 5px;
}
.pTitle {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.pAuthors {
  margin-bottom: 10px;
}
.publicationDesc {
  margin-bottom: 10px;
}
.links {
  display: flex;
  /* margin-top: auto; */
  gap: 20px;
}
.link {
  font-size: 12px;
  color: #ffffff;
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #6b6b6b7c;
  transition: all 0.3s ease;
}
.link:hover {
  background-color: #6b6b6b25;
}

.paralell {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.abs {
  width: 95.3%;
  height: inherit;
  overflow-y: scroll;
  margin-top: 5px;
  padding: 0px 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #0f0f0f;
  transition: all 0.3s ease;
}
.bib {
  width: 95.3%;
  height: inherit;
  overflow-y: scroll;
  margin-top: 5px;
  padding: 0px 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #6868685d;
  transition: all 0.3s ease;
}

.pDesc {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 100;
}

.lab-cont:hover {
  transform: scale(1.01);
}
.lab-cont {
  max-width: 340px;
  border-radius: 5px;
  background-color: #141414;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.486);
  border: 1px solid white;
  padding: 15px;
  font-size: 12px;
  transition: all 0.2s ease;
}
.lab-title-cont {
  color: white;
  margin: 10px;
  margin-top: 0;
  font-size: 17px;
  display: flex;
  gap: 7px;
  align-items: center;
  font-weight: 750;
}
.lab-description {
  margin-bottom: 10px;
}
.lab-stats {
  display: flex;
  align-items: center;
  gap: 10px;
}
.forks {
  display: flex;
  align-items: center;
  gap: 5px;
}
.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* uncopied */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

.gs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 10px #000;
  margin: 10px auto;
  background-color: #141414;
  padding-right: 10px;
  font-size: 11px;
  width: 100%;
}
.gs-layout {
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 11px;
  width: 100%;
}
.gs-container svg {
  min-width: fit-content;
}
.gs-textcont {
  margin: 10px;
}
.gs-title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.gs-authors {
  margin-bottom: 10px;
}
.gs-publication {
  margin-bottom: 10px;
}
.gs-options {
  display: flex;
  gap: 10px;
}
.gs-anchor {
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 5px;
}
.gs-anchor:hover {
  background-color: #575757;
}
.picture-container {
  width: 30%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  min-width: 200px;
}

@media (max-width: 405px) {
  .profile-container {
    flex-direction: column-reverse;
  }
  .intro {
    width: 100%;
  }
  .profile-container {
    align-items: center;
  }
}
#navDropdown {
  display: none;
}
@media (max-width: 600px) {
  #navDropdown {
    display: block;
  }
  #navbarList {
    display: none;
  }
}

.publication_video_container {
  border-top: 1px solid #ffffff3f;
  overflow: hidden;
  width: 100%;
  height: 35px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  transition: all 0.5s ease;
  margin: 0 auto;
}
.publication_video_container:hover {
  height: 665px;
  -webkit-mask-image: unset;
  mask-image: unset;
}
.news-card {
  border-radius: 0.75em;
  width: 100%;
  transition: ease 0.2s;
  border: 1.5px solid #ffffff25;
  margin-bottom: 20px;
}

.news-card:hover {
  background-color: #252d3d;
  border: 1.5px solid #1677ff;
}

.news-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.news-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  height: 100%;
  /* justify-content: space-between; */
  color: #cacaca;
}

.news-time {
  font-size: 0.875em;
  color: #969696;
}

.news-text-link {
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.news-button-wrap {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.news-secondary-cta {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #9c9c9c;
}

.news-primary-cta {
  font-size: 15px;
  background-color: transparent;
  font-weight: 600;
  color: #1677ff;
  border: none;
  border-radius: 1.5em;
}
.news-right {
  display: flex;
  flex-direction: column;
  gap: 0.875em;
  width: 100%;
}
.news-desc {
  height: 35px;
  margin-top: 10px;
  text-wrap: wrap;

  text-overflow: ellipsis;
  font-size: 12px;
  overflow: hidden;
}
.news-text-content {
  font-size: 17px;
  font-weight: 750;
}
.news-anchor {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #141414;
  border: 1px solid rgba(255, 255, 255, 0.295);
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}
.news-anchor:hover {
  background-color: #303030;
}
.news-card input[type="text"] {
  width: 100%;
  border: 1px solid #6e6e6e;
  border-radius: 5px;
}
.news-card input[type="date"] {
  width: 100px;
  border: 1px solid #6e6e6e;
  border-radius: 5px;
}
