.name {
  font-size: 2.5em;
}

.job-title {
  font-size: 1.2em;
  font-weight: lighter;
}
section {
  padding: 0 1rem;
  width: inherit;
  background: #272727;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border: 2px solid rgba(100, 98, 98, 0.1);
  box-shadow: 0rem 0rem 1rem rgba(117, 114, 114, 0.1);
  padding-bottom: 10px;
}
.insideBox {
  margin-bottom: 0.8rem;
  padding: 20px;
  border-radius: 8px;
  background-color: #272727;
  border-bottom: 1px solid #ffffff1c;
}

.heading {
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-top: 20px;
  border-bottom: 2px solid rgba(252, 60, 236, 0.384);
}

.title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dateDiff {
  color: rgb(255, 255, 255);
  /* margin: 1rem 0rem; */
  max-width: fit-content;
  font-size: 22px;
  height: fit-content;
}
ul li {
  font-size: 14px;
}
.resumeAnchor {
  color: blue !important;
  text-decoration: underline;
}

.resumeAnchor:hover {
  color: rgb(57, 57, 255) !important;
}

@media (min-width: 600px) {
}
@media (min-width: 1000px) {
  .resumeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 100%;
    max-width: 30vw;
    background-color: rgb(38, 1, 48);
    min-width: 24vw;
  }
  .hide {
    display: none;
  }
}
@media (max-width: 1000px) {
  .resumeLeft {
    display: none;
  }
  .hide {
    display: block;
  }
}
@media (max-width: 600px) {
  .header {
    font-size: 0.8em;
  }
  .resumeLeft {
    display: none;
  }
  .name {
    font-size: 2em;
  }

  .job-title {
    font-size: 1em;
  }
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 30px 0;
}
.title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
}
.expPlace {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.692);
}

.award-title {
  font-size: 12px;
}

.awardBox {
  border: 1px solid rgba(255, 255, 255, 0.233);
  padding: 5px 10px !important;
}
.left {
  min-width: fit-content;
  opacity: 0.4;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resumeContainer {
  display: flex;
  justify-content: center;
  gap: 0;
  width: 95%;
}
.resume-name {
  margin: 20px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 5px; */
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.resume-heading {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
  margin-top: 50px;
  padding-bottom: 5px;
  width: 90%;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}
.details {
  color: white;
  width: 86%;
  font-size: 13px;
}
.details a {
  color: rgb(141, 141, 255) !important;
}
td {
  text-align: right;
}
td.label {
  font-weight: 600;
  text-align: left;
}
.skill-list {
  color: white;
  width: 80%;
}
.skill-list li {
  font-size: 12px;
  margin-bottom: 10px;
}
.min-heading {
  width: 85%;
  font-weight: 800;
  font-size: 15px;
  color: white;
}

.download {
  position: fixed;
  right: 0;
  top: 100;
  background-color: rgb(19, 19, 19);
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.267);
  padding-right: 30px;
  transform: translateX(10px);
  color: white;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease;
}
.download:hover {
  transform: translateX(0px);
}
