.name {
  font-size: 2.5em;
}

.job-title {
  font-size: 1.2em;
  font-weight: lighter;
}
.generalInfo,
.contactInfo,
.profExperience,
.education,
.AwardsCertificates,
.academicExperience,
.hobbies {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #e5e7eb;
  border-radius: 0.2rem;
  border: 2px solid rgba(100, 98, 98, 0.1);
  box-shadow: 0rem 0rem 1rem rgba(117, 114, 114, 0.1);
}
.insideBox {
  margin-bottom: 0.8rem;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0rem 1rem 2rem rgba(255, 255, 255, 0.1);
}

.heading {
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 0;
}

.title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.degreeYear {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateDiff {
  background: #ebedf0;
  color: rgb(0, 0, 0);
  padding: 0rem 0.7rem;
  box-sizing: border-box;
  font-size: 12px;
  box-shadow: 0rem 0rem 0.2rem rgb(14, 13, 13);
  height: fit-content;
}
ul li {
  font-size: 14px;
}
.resumeAnchor {
  color: blue !important;
  text-decoration: underline;
}

.resumeAnchor:hover {
  color: rgb(57, 57, 255) !important;
}

@media (min-width: 600px) {
  section {
    max-width: 800px;
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 0.8em;
  }

  .name {
    font-size: 2em;
  }

  .job-title {
    font-size: 1em;
  }
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 30px 0;
}
.title {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 100;
}
.expPlace {
  font-size: 13px;
}

.award-title {
  font-size: 12px;
}

.awardBox {
  border: 1px solid rgba(0, 0, 0, 0.233);
  padding: 5px 10px !important;
}
